<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MARVEL BUNCH</title>
</head>
<body>
    <center>
        <% if (err) { %>
            <h1> <%= err %> </h1>
        <% } else { %>
            <h1></h1>
        <% }  %> 

        <form action="/admins/<%= id %>/add" method="post">
            <label>Hero Name</label><br>
            <input type="text" name="name", required><br>
            <br>
            <label>Link Image</label><br>
            <textarea name="link", rows="5", cols="50"></textarea><br>
            <br>
            <input type="submit" value="ADD HERO">
        </form>
    </center>
</body>
</html>