<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MARVEL BUNCH</title>
</head>
<body>
    <center>
        <h1>ADMIN LOGIN</h1>

        <% if (msg) { %>
            <h3><%= msg %></h3>
        <% } else { %>
            <h3></h3>
        <% }  %> 

        <form action="/admins/login", method="POST">
            <label for="username">username</label><br>
            <input type="text" name="username"><br>
            <br>
            <label for="password">password</label><br>
            <input type="password" name="password"><br>
            <br>
            <input type="submit" value="LOGIN">
        </form>
    </center>
</body>
</html>