<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Selamat Anda Mendapatkan <%= heroGet.name %></h2>
        <img src="<%= heroGet.link_image %>"><br>
    </center>
    
</body>
</html>