<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if (heroGet) { %>
        <center>
            <h2>Selamat Anda Mendapatkan <%= heroGet.name %></h2>
            <img src="<%= heroGet.link_image %>"><br>
        </center>
    <% } else  { %>
        <center>
            <h2>Maaf Anda Kurang Pintar %></h2>
            <h3>Balik Lagi Ke FASE 0</h3>
        </center>
    <% } %>
    
    
</body>
</html>