<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MARVEL BUNCH</title>
</head>
<body>
    <center>
    <h1>WELCOME TO MARVEL BUNCH GAME</h1>
    <h3>
        <a href="/users/register">REGISTER AS PLAYER</a>
    </h3>
    <h3>
        <a href="/users/login">LOG IN AS PLAYER</a>
    </h3>
    <h3>
        <a href="/admins/login">LOG IN AS ADMIN</a>
    </h3>
    </center>
</body>
</html>